{
  "presets": [
    "@babel/react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    "react-hot-loader/babel",
    ["react-css-modules", {
    	"webpackHotModuleReloading": true,
			"filetypes": {
			  ".sass": {
			    "syntax": "sugarss",
			    "plugins": [
			    	"autoprefixer"
			    ]
			  }
			}
    }]
  ]
}
